.quize {
    border: 2px solid grey;
    padding: 10px;
}


.quize img {
    height: 250px;
    width: 250px;
    background-color: slategray;
}

.quize-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-start {
    height: 40px;
    width: 150px;
    background-color: grey;
    border: none;
    border-radius: 5px;

}

.btn-start:hover {
    background-color: rgb(63, 56, 56);
}

.btn-start a {
    color: white;
    text-decoration: none;
}